<div class="dd-outer">
  <div
    *ngIf="showMobileDropDown || showDesktopDropDown || showSearchBar"
    class="dd-inner"
    (click)="navClick($event)"
  >
    <div class="desktop-dd">
      <div *ngIf="showDesktopDropDown">
        <desktop-drop-down [selectedId]="selectedIdDesktop"></desktop-drop-down>
      </div>

      <div *ngIf="showSearchBar">
        <search-bar></search-bar>
      </div>
    </div>

    <div *ngIf="showMobileDropDown">
      <mobile-drop-down></mobile-drop-down>
    </div>
  </div>
</div>
