<div class="card-row-outer container-outer">
  <div class="card-row-inner">
    <content-card
      title="Everyone can. Photoshop."
      text="Blur. Layer. Colourise. Swap. Combine. Blend. With Photoshop, everyone can."
      cta="Get to know Photoshop"
      [theme]="Theme.dark"
      portraitImage="../../../../assets/images/skate-board.jpg"
      landscapeImage="../../../../assets/images/skate-board-ls.jpg"
    >
    </content-card>
    <content-card
      title="Transform your photos"
      text="Remove distractions to make landscapes a little more zen."
      cta="Start free trial"
      [theme]="Theme.light"
      portraitImage="../../../../assets/images/boat.png"
      landscapeImage="../../../../assets/images/boat-ls.png"
    >
    </content-card>
    <content-card
      title="End to end. And back again."
      text="Experience Cloud products cover your range of customer experience needs."
      cta="See products"
      [theme]="Theme.light"
      portraitImage="../../../../assets/images/r-product.jpg"
      landscapeImage="../../../../assets/images/r-product-ls.jpg"
    >
    </content-card>
  </div>
</div>
