<div class="footer-links-container">
  <div class="fcol-1">
    <link-list title="Shop for" [linkList]="linkList"></link-list>
  </div>
  <div class="fcol-2">
    <link-list title="Shop for" [linkList]="linkList"></link-list>
  </div>
  <div class="fcol-3">
    <link-list title="Shop for" [linkList]="linkList"></link-list>
  </div>
  <div class="fcol-4">
    <link-list title="Shop for" [linkList]="linkList"></link-list>
  </div>
  <div class="fcol-5">
    <link-list title="Shop for" [linkList]="linkList"></link-list>
  </div>
</div>
