<div class="product-link-container">
  <div class="product-inner">
    <h5>Featured products</h5>
    <product-display title="Adobe Express">
      <img src="../../../../assets/images/adobe-express-icon.svg" />
    </product-display>
    <product-display title="Photoshop">
      <img src="../../../../assets/images/photoshop-icon.svg" />
    </product-display>
    <product-display title="Illustrator">
      <img src="../../../../assets/images/illustrator-icon.svg" />
    </product-display>
  </div>
</div>
