@import '../../../../styles.scss';

.menu-outer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .menu-col{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn-wrapper{
        margin-left: 30px;
    }
}