<div class="menu-wrapper">
  <div *ngFor="let data of linkList; let i = index" class="menu-col">
    <content-button
      *ngIf="i === 0"
      text="What is Creative Cloud"
      description="Creative apps and services for everyone"
    >
      <img
        class="content-btn-img"
        src="../../../../assets/images/creative-cloud-icon.svg"
        alt="creative cloud icon"
    /></content-button>

    <link-stack *ngFor="let set of data" [data]="set"></link-stack>

    <div *ngIf="i === 0" class="btn-wrapper">
      <basic-button text="View plans and pricing"></basic-button>
    </div>
  </div>

  <div class="menu-col nav-card">
    <nav-card
      title="Find the perfect app in about 60 seconds."
      cta="Get started"
    >
      <img
        src="../../../../assets/images/nav-creativity.webp"
        alt=""
        class="card-img"
    /></nav-card>
  </div>
</div>
