<div class="option-container">
  <bar-option
    text="Creativity & Design"
    id="0"
    [open]="isOpen('0')"
    (navPressed)="optionClick($event)"
  ></bar-option>
  <bar-option
    text="PDF & E-signatures"
    id="1"
    [open]="isOpen('1')"
    (navPressed)="optionClick($event)"
  ></bar-option>
  <bar-option
    text="Marketing & commerce"
    id="2"
    [open]="isOpen('2')"
    (navPressed)="optionClick($event)"
  ></bar-option>
  <bar-option
    text="Help & support"
    id="3"
    [open]="isOpen('3')"
    (navPressed)="optionClick($event)"
  ></bar-option>
</div>
