.button-wrapper{
    background-color: #1473e6;
    outline: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 15px;
    transition: .3s;
}

.button-wrapper:hover{
    background-color: #1265cb;
}