@import '../../../../styles.scss';

.button-wrapper{
    background-color: $basic-blue;
    outline: none;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px 15px;
    transition: 0.3s;
}

.button-wrapper:hover{
    background-color: $hover-blue;
}