.button-wrapper{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
}

.button-wrapper:hover{
    text-decoration: underline;
}