<div class="opening-outer">
  <img
    class="image-mobile"
    src="../../../../assets/images/acrobat-mobile.png"
    alt="laptop"
  />
  <div class="adobe-container">
    <div class="container-outer full-width">
      <div class="container-inner">
        <welcome-text
          title="Acrobat's got it."
          text="Whether you're the underdog or the old reliable, grow your business with PDF and e-signature tools from Acrobat. You can easily onboard new customers and get contracts signed fast."
          cta="See how"
          linkText="See all plans"
          [theme]="currentTheme"
        ></welcome-text>
      </div>
    </div>
  </div>
</div>
