@import '../../../../styles.scss';

.drop-down-outer {
  background-color: $background-grey-light;
  padding: 32px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-box-shadow: 0 4px 4px rgba(131, 131, 131, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(131, 131, 131, 0.4);
  box-shadow: 0 4px 4px rgba(131, 131, 131, 0.4);

  .drop-down-inner {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
  }
}

p {
  margin: 0;
  padding: 0;
}
