@import '../../../../styles.scss';

.drop-down-outer {
  background-color: $background-grey-light;
  padding: 32px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -moz-box-shadow: 0 4px 4px $shadow;
  -webkit-box-shadow: 0 4px 4px $shadow;
  box-shadow: 0 4px 4px $shadow;

  .drop-down-inner {
    width: 100%;
    max-width: $desktop-dd-max;
    padding: 10px;
  }
}

p {
  margin: 0;
  padding: 0;
}
