@import '../../../../styles.scss';

.content-card-outer{
    // max-width: 490px;
    width: 100%;
    position: relative;

    .absolute-wrapper{
        padding: 30px 20px;
        position: absolute;
        top: 0;
        left:0
    }

}