@import '../../../../styles.scss';

.content-card-outer{
    position: relative;
    max-height: 550px;
    overflow: hidden;

    picture{
        width: 100%;
        display: block;
    }

    picture > *{
        width: 100%;

    }

    .absolute-wrapper{
        padding: 30px 20px;
        position: absolute;
        top: 0;
        left:0
    }

}