<div class="social-container">
  <div class="social-left">
    <div class="global-picker-wrapper">
      <p>Change region</p>
    </div>

    <div class="media-wrapper">
      <a href="#">
        <img src="../../../../assets/images/facebook-icon.svg" alt="Facebook" />
      </a>
      <a href="#">
        <img src="../../../../assets/images/twitter-icon.svg" alt="Twitter" />
      </a>
      <a href="#">
        <img src="../../../../assets/images/linkedin-icon.svg" alt="LinkedIn" />
      </a>
      <a href="#">
        <img src="../../../../assets/images/insta-icon.svg" alt="Instagram" />
      </a>
    </div>
  </div>

  <div class="legal-wrapper">
    <p>Copyright © 2023 Adobe. All rights reserved</p>
    <p>/</p>
    <a href="#" class="footer-link">Privacy</a>
    <p>/</p>
    <a href="#" class="footer-link">Terms of Use</a>
    <p>/</p>
    <a href="#" class="footer-link">Cookie preferences</a>
    <p>/</p>
    <a href="#" class="footer-link"
      >Do not sell or share my personal information</a
    >
    <p>/</p>
    <div class="ad-choice">
      <img src="../../../../assets/images/ad-choice-icon.svg" alt="adChoices" />
      <a href="#" class="footer-link">AdChoices</a>
    </div>
  </div>
</div>
