<div class="nav-outer" [class.hideNavBar]="hideNav">
  <div class="nav-inner">
    <div class="left-section">
      <div class="mobile-button" (click)="clickMobileMenuButton()">
        <mat-icon [class.hide]="showMobileMenu">dehaze</mat-icon>
        <mat-icon [class.hide]="!showMobileMenu">close</mat-icon>
      </div>

      <div class="logo-wrapper">
        <img src="../../../../assets/images/adobe-logo.svg" alt="adobe logo" />
        <h4>Adobe</h4>
      </div>

      <div class="desktop-menu-wrapper">
        <desktop-menu
          (navClicked)="clickNavOption($event)"
          [showDropDown]="showDropDown"
          [currentDropDownId]="currentDropDownId"
          [navData]="navData"
        ></desktop-menu>
      </div>
    </div>

    <div class="right-section">
      <div class="search-btn-wrapper" (click)="showSearch()">
        <mat-icon [class.hide]="showSearchBar" class="search-icon"
          >search</mat-icon
        >
        <mat-icon [class.hide]="!showSearchBar">close</mat-icon>
      </div>
      <a href="#">Sign in</a>
    </div>
  </div>

  <div *ngIf="showDropDown" class="drop-down-wrapper">
    <drop-down [selectedId]="currentDropDownId" [navData]="navData"></drop-down>
  </div>

  <div *ngIf="showSearchBar" class="drop-down-wrapper">
    <search-bar></search-bar>
  </div>

  <div *ngIf="showMobileMenu" class="drop-down-wrapper">
    <mobile-drop-down></mobile-drop-down>
  </div>
</div>
