<div class="nav-outer" [class.hideNavBar]="hideNav">
  <div class="nav-inner">
    <div class="left-section">
      <div class="mobile-button" (click)="clickMobileMenuButton()">
        <mat-icon [class.hide]="showMobileDropDown">dehaze</mat-icon>
        <mat-icon [class.hide]="!showMobileDropDown">close</mat-icon>
      </div>

      <div class="logo-wrapper">
        <img src="../../../../assets/images/adobe-logo.svg" alt="adobe logo" />
        <h4>Adobe</h4>
      </div>

      <div class="desktop-menu-wrapper">
        <desktop-menu
          (navClicked)="clickNavOption($event)"
          [showDropDown]="showDesktopDropDown"
          [currentDropDownId]="selectedIdDesktop"
          [navData]="navData"
        ></desktop-menu>
      </div>
    </div>

    <div class="right-section">
      <div class="search-btn-wrapper" (click)="showSearch()">
        <mat-icon [class.hide]="showSearchBar" class="search-icon"
          >search</mat-icon
        >
        <mat-icon [class.hide]="!showSearchBar">close</mat-icon>
      </div>
      <a href="#">Sign in</a>
    </div>
  </div>

  <drop-down-manager
    [showDesktopDropDown]="showDesktopDropDown"
    [showSearchBar]="showSearchBar"
    [showMobileDropDown]="showMobileDropDown"
    [selectedIdDesktop]="selectedIdDesktop"
    (closeNav)="closeMenus()"
  ></drop-down-manager>
</div>
