
$breakpoint-lg: 1200px;
$breakpoint-md: 900px;
$breakpoint-sm: 600px;

// grey
$text-grey-hover: #7e7e7e;
$text-grey-light: #4B4B4B;
$text-grey-dark: #505050;
$charcoal: #2c2c2c;
$background-grey-mid: #e0e0e0;
$background-grey-light: #f8f8f8;

//red
$adobe-red: #fa0f00;

//blue
$basic-blue: #1473e6;
$hover-blue:#1265cb;

///////////////////////////////////////////////

html, body { height: 100%; }
body { 
    margin: 0; 
    padding:0;
    font-family: 'Inter', sans-serif; 
}

.container-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inner{
    max-width: 1400px;
    width:100%;
    padding: 0 45px;
}

.footer-link{
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: $text-grey-light;
}
.footer-link:hover{
    color: $text-grey-hover;
}

.dark{
    color: #000000;
}

.light{
    color: #ffffff;
}
