<div class="opening-outer container-outer">
  <img src="../../../../assets/images/decorated-logo.jpg" />
  <div class="adobe-container">
    <div class="opening-inner container-inner">
      <welcome-text
        title="New in Creative Cloud."
        text="Create faster with new AI features in Illustrator, Premiere Pro and Lightroom. Collaborate with Share for Review in Photoshop and Illustrator. Make standout content quickly with Adobe Express. And design for the future with new 3D tools."
        cta="Start free trial"
        linkText="See what's new"
        [theme]="Theme.dark"
      ></welcome-text>
    </div>
  </div>
</div>
