@import '../../../../styles.scss';

.opening-outer{
    flex-direction: column;
    min-height: 600px;
    @media (max-width: $breakpoint-lg) {
        align-items: flex-start ;
    }

    .opening-inner{
        box-sizing: border-box;

    }

    img{
        max-width:100%;
        @media (min-width: $breakpoint-lg) {
            display: none;
        }

    }
}