@import '../../../../styles.scss';

.opening-outer{
    background-color: rgb(208, 208, 208);
    min-height: 600px;
    display: flex;
    align-items: center ;
    justify-content: center;

    .opening-inner{
        display: flex;
    }
}