@import '../../../../styles.scss';

.search-wrapper{
    background-color: $background-grey-light;
    padding: 20px 30px;
    box-sizing: border-box;
}

.input-wrapper{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:6px;
    border: 1px solid $background-grey-mid;
    border-radius: 5px;

    input{
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        color: $charcoal;
    }

    input::placeholder{
        font-size: 16px;
        color: $background-grey-mid;
        font-weight: 400;
    }

    mat-icon{
        transform: rotate(90deg);
        color: $charcoal;
    }
}